*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
}

.flex-container {
  display: flex;
}

.flex-container > div {
  background-color: white;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}

.h1 {
  font-family: Arial, sans-serif;
  color: black;
}

.sidebar {
  background-color: #f4f4f4f4;
}

.side-tabs {
  display: block; /* Make <a> elements block-level */
  padding: 4px;
  font-family: Arial, sans-serif;
  margin-top: 2px;
  color: black; /* Text color */
  text-decoration: none; /* Remove underline */
  background-color: transparent; /* Default background */
  overflow-wrap: break-word; /* Enable word wrapping */
  word-wrap: break-word; /* Fallback for older browsers */
  white-space: normal; /* Ensure normal white-space handling */
  border-radius: 4px; /* Optional: Add some border radius */
  transition:
    background-color 0.3s,
    color 0.3s; /* Smooth transitions */
}

.side-active-tabs {
  background-color: rgb(
    255,
    255,
    255
  ); /* Active tab background color (white) */
  color: black; /* Active tab text color (black) */
  margin-top: 2px;
}

.side-tabs:hover {
  background-color: white; /* Background color on hover (white) */
  color: black; /* Text color on hover (black) */
}

.content-tabs {
  flex-grow: 1;
}
.content {
  background: white;
  padding: 20px;
  width: 100%;
  height: 100%;
  display: none;
}
.content h2 {
  padding: 0px 0 5px 0px;
}
.content hr {
  width: 100px;
  height: 2px;
  background: #222;
  margin-bottom: 5px;
}
.content p {
  width: 100%;
  height: 100%;
}
.active-content {
  display: block;
}
