###
# Copyright (2023) Hewlett Packard Enterprise Development LP
#
# Licensed under the Apache License, Version 2.0 (the "License");
# You may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
###

services:
  tensorboard:
    image: tensorflow/tensorflow
    command: tensorboard --logdir /logs --host 0.0.0.0
    ports:
      - "6006:6006"
    volumes:
    # directory path should be updated as per user's environment
      - /home/chobey/cmf-server/data/tensorboard-logs:/logs
    container_name: tensorboard
  server:
    image: server:latest
    # both the directory paths should be updated as per user's environment
    volumes:
      - /home/chobey/cmf-server/data:/cmf-server/data
      - /home/chobey/cmf-server/data/static:/cmf-server/data/static
      - /home/chobey/cmf-server/data/tensorboard-logs:/cmf-server/data/tensorboard-logs
    container_name: cmf-server
    build:     
      context: ./
      dockerfile: ./server/Dockerfile
    restart: always
    environment:
      MYIP: ${IP:-127.0.0.1}
      HOSTNAME: ${hostname:-localhost}
    ports:
      - "8080:80"
    expose:
      - 8000
    healthcheck:
      test: if [ -n $IP ]; then curl -f http://$IP:8080; else curl -f http://$hostname:8080; fi
      interval: 15s
      retries: 32
    
  ui:
    image: ui:latest
    container_name: ui-server
    build:
      context: ./ui
      dockerfile: Dockerfile
    restart: always
    environment:
      REACT_APP_MY_IP: ${IP}
      REACT_APP_MY_HOSTNAME: ${hostname}
    ports:
      - "3000:3000"
    expose:
      - 3000
    depends_on:
      server:
        condition: service_healthy
