USER=frist
UID=123456789
GROUP=users
GID=100
DVC_REMOTE_URL=/home/jovyan/dvc_remote
GIT_USER_NAME=first.second
GIT_USER_EMAIL=first.second@hpe.com
GIT_REMOTE_URL=git@github.hpe.com:first-second/cmf-demo.git
GIT_BRANCH=first_checkout
NEO4J_USER_NAME=USER
NEO4J=TRUE
NEO4J_PASSWD=XXXXX
HTTP_PROXY=http://proxy.houston.hpecorp.net:8080
HTTPS_PROXY=http://proxy.houston.hpecorp.net:8080
# React App Configuration
REACT_APP_CMF_API_URL=http://localhost/api
REACT_APP_MODE=production

# POSTGRES Configuration
# In most of the places if I give localhost/machine ip/hostname it is not working
POSTGRES_HOST=postgres
POSTGRES_USER=myuser
POSTGRES_PASSWORD=mypassword
POSTGRES_PORT=5432
POSTGRES_DB=mlmd
