USER=royann
UID=121683555
GROUP=users
GID=100
DVC_REMOTE_URL=/home/jovyan/dvc_remote
GIT_USER_NAME=annmary-roy
GIT_USER_EMAIL=annmary.roy@hpe.com
GIT_REMOTE_URL=git@github.hpe.com:annmary-roy/cmf-demo.git
GIT_BRANCH=ann_checkout
NEO4J_USER_NAME=neo4j
NEO4J=TRUE
NEO4J_PASSWD=neo4j123
HTTP_PROXY=http://proxy.houston.hpecorp.net:8080
HTTPS_PROXY=http://proxy.houston.hpecorp.net:8080
