[project]
name = "cmflib"
version = "0.0.9"
dependencies = [
	"ml-metadata==1.11.0",
	"dvc[ssh,s3]==3.50.0",
	"pandas",
	"retrying",
	"pyarrow",
	"neo4j",
	"scikit-learn",
	"tabulate",
	"click",
	"minio",
	"paramiko",
]
authors = [
  { name="Hewlett Packard Enterprise"},
]
description = "Track metadata for AI pipeline"
readme = "README.md"
requires-python = ">=3.8,<3.10"
classifiers = [
    "Programming Language :: Python :: 3",
    "Operating System :: POSIX :: Linux",
]

[project.urls]
"Homepage" = "https://github.com/HewlettPackard/cmf"
"Bug Tracker" = "https://github.com/HewlettPackard/cmf/issues"
