.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-border {
  position: sticky;
  top: 0;
  right: 0;
  z-index: 10; /* Ensure it stays on top of the popup */
}

.popup {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 1100px;
    width: 100%;
    position: relative;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-height: 90vh; /* Ensuring it doesn't exceed the viewport */
    overflow-y: auto; /* Ensure the popup can scroll if it still overflows */
}

.close-button {
    background: gray;
    color: white;
    border: 2px solid black;
    border-radius: 50%;
    padding: 5px 10px;
    cursor: pointer;
    position: absolute;
    top: -18px;
    right: -19px;
    z-index: 10;
}

.download-button {
    background: white;
    color: dark gray;
    border: none;
    cursor: pointer;
    width: 84px;
    height: 55px;
    float: right;
}

.popup-content {
    margin-top: 20px;
}

.popup-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    text-align: left;
}

.popup-labels, .popup-data {
    display: flex;
    flex-direction: column;
}

.popup-labels {
    flex: 1;
    font-weight: bold;
    background-color: #f0f0f0; /* Light gray background for labels */
    padding: 10px;
    border-radius: 4px 0 0 4px; /* Rounded corners for left section */
}

.popup-data {
    flex: 2;
    background-color: #e0f7fa; /* Light blue background for data */
    padding: 10px;
    border-radius: 0 4px 4px 0; /* Rounded corners for right section */
    text-align: left;
}

.table-container {
    max-height: 400px; /* Adjust this height as needed */
    max-width: 100%;
    overflow-x: auto; /* Horizontal scrollbar */
    overflow-y: auto; /* Vertical scrollbar */
    margin-top: 20px;
}

.table {
    width: 100%;
    border-collapse: collapse;
    overflow: auto;
    background-color: #e0f7fa; /* Light blue background for data */
}

.table th, .table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left; /* Align text to the left */
}

.table th {
    background-color: #f2f2f2; /* Light gray background for headers */
    font-weight: bold;
}

.tbody tr:nth-child(even) {
    background-color: #f9f9f9; /* Light gray background for even rows */
}

.tbody tr:hover {
    background-color: #f1f1f1; /* Light gray background for hovered rows */
}

hr {
    margin: 20px 0;
}

p {
    font-weight: bold;
    margin: 10px 0;
}
