.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup {
    background: white;
    padding: 20px;
    border-radius: 5px;
    max-width: 500px;
    width: 100%;
    position: relative;
}

.close-button {
    background: gray;
    color: white;
    border: 2px solid black;
    border-radius: 50%;
    padding: 5px 10px;
    cursor: pointer;
    position: absolute;
    top: -11px;
    right: -6px;
}

.download-button {
    background: white;
    color: dark gray;
    border: none;
    cursor: pointer;
    width: 30px;
    height: 30px;
    float: right;
}

.popup-content {
    margin-top: 20px;
}
