/* Define styles for the expanded table */
.expanded-table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ccc;
  }
  
  .expanded-table th,
  .expanded-table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
  }
  
  .expanded-table th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  
  .expanded-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .pagination-button.active {
    background-color: #2c5282;
    color: #fff;
    font-weight: bold;
    border-color: #2c5282;
  }
  
  .pagination-button.active:hover {
    background-color: #1a365d;
    border-color: #1a365d;
  }
  
  .arrow {
    font-weight: bold;
    font-size: 1.2em; /* Adjust the size as needed */
  }
  
  td {
    text-align: left;
  }
  
  thead {
    background-color: #f4f4f4f4;
  }