.text-group {
  cursor: pointer;
}

.truncated-text {
  /* Style for truncated text, adjust as needed */
  font-size: 12px;
  font-weight: bold;
  fill: black;
}

.full-text {
  /* Style for full text, adjust as needed */
  font-size: 12px;
  font-weight: bold;
  fill: black;
}
