apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: pvc-tensorboard-logs
spec:
  storageClassName: ""
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 20Gi
  volumeName: pv-tensorboard-logs
