apiVersion: v1
kind: PersistentVolume
metadata:
  name: pv-tensorboard-logs
spec:
  capacity:
    storage: 20Gi
  accessModes:
    - ReadWriteOnce
  hostPath:
    path: /mnt/cmf/data/tensorboard-logs
