*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
}

.flex-container {
  display: flex;
}

.flex-container > div {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}

.bloc-tabs {
  display: flexs;
}
button {
  border: none;
  padding: 10px 24px;
}

.content-tabs {
  flex-grow: 1;
}
.content {
  background: white;
  padding: 20px;
  width: 100%;
  height: 100%;
  display: none;
}
.content h2 {
  padding: 0px 0 5px 0px;
}
.content hr {
  width: 100px;
  height: 2px;
  background: #222;
  margin-bottom: 5px;
}
.content p {
  width: 100%;
  height: 100%;
}
.active-content {
  display: block;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-select {
  margin-top: 8px;
  padding: 4px 8px;
  font-size: 14px;
  font-family: Arial, sans-serif;
  border: 2px solid black;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  transition: border-color 0.3s ease;
}
