<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HP_server</title>

    <style>
        body{
            height : 100%;
            width : 100% ;
        }
        table {

            border-collapse: collapse;
            width: 100%;
        }

        th, td {
          text-align: center;

          padding: 8px;
        }

        tr:nth-child(even) {
          background-color: #D6EEEE;
        }
    </style>

</head>
<body>
{% if artifact_val== "false" %}
    <p>No mlmd found</p>
{% else %}

<table>
    <tr>
        {% for col in artifact_df.columns %}
        <th>
            {{col}}
        </th>
        {% endfor %}
    </tr>
        {% for index, row in artifact_df.iterrows() %}
          <tr>
            {% for cell in row %}
              <td>
                {{cell}}
              </td>
            {% endfor %}
          </tr>
    {% endfor %}
</table>
{% endif %}

</body>
</html>
