<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>hp-server</title>
</head>
<body>
<font size="6">"Welcome to cmf-server, Use various APIs to interact with cmf-server eg: http://server_ip/mlmd_push/ "
   </font>

<ul>
    <li><a target="_blank" style="font-size:30px;" class="fcc-btn" href="/display_executions/"  >Display Executions</a></li>
    <li><a target="_blank" style="font-size:30px;" class="fcc-btn" href="/display_artifacts/"  >Display Artifacts</a></li>
</ul>
</body>
</html>
