{% extends 'home.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>hp_server</title>

</head>
<body>
{% block content %}
{% if exec_val== "False" %}
    <p>No mlmd found</p>
{% else %}
<h1>Pipelines available</h1>
{% if disp_val== "execution" %}
<ul class="pipeline_list">
    {% for col in pipeline_names %}
        <li class="pipeline_list"><a target="_blank" style="font-size:30px;" class="fcc-btn" href="/display_executions/{{ col }}"  >{{ col }}</a></li>
    {% endfor %}
</ul>
{% else %}
<ul class="pipeline_list">
    {% for col in pipeline_names %}
        <li class="pipeline_list"><a target="_blank" style="font-size:30px;" class="fcc-btn" href="/display_lineage/{{ col }}"  >{{ col }}</a></li>
    {% endfor %}
</ul>
{% endif %}
{% endif %}
{% endblock %}
</body>
</html>
