apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgres-deployment
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: postgres
  template:
    metadata:
      labels:
        app: postgres
    spec:
      containers:
      - name: postgres
        image: "{{ .Values.postgres_service.image.repository }}:{{ .Values.postgres_service.image.tag }}"
        ports:
        - containerPort: {{ .Values.postgres_service.service.port }}
        env:
        - name: POSTGRES_USER
          value: "myuser"
        - name: POSTGRES_PASSWORD
          value: "mypassword"
        - name: POSTGRES_DB
          value: "mlmd"
        volumeMounts:
        - mountPath: /var/lib/postgresql/data
          name: postgres-data
        livenessProbe:
          exec:
            command:
            - pg_isready
            - -p
            - "{{ .Values.postgres_service.service.port }}"
            - -d
            - mlmd
            - -U
            - myuser
          initialDelaySeconds: 30
          periodSeconds: 10
          timeoutSeconds: 5
          failureThreshold: 5
        readinessProbe:
          exec:
            command:
            - pg_isready
            - -p
            - "{{ .Values.postgres_service.service.port }}"
            - -d
            - mlmd
            - -U
            - myuser
          initialDelaySeconds: 10
          periodSeconds: 10
          timeoutSeconds: 5
          failureThreshold: 5
      volumes:
      - name: postgres-data
        persistentVolumeClaim:
          claimName: pvc-postgres-data
---
apiVersion: v1
kind: Service
metadata:
  name: postgres
spec:
  type: {{ .Values.postgres_service.service.type }}
  ports:
  - port: {{ .Values.postgres_service.service.port }}
    targetPort: {{ .Values.postgres_service.service.port }}
  selector:
    app: postgres
