apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-deployment
  labels:
    app: nginx
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
      labels:
        app: nginx
    spec:
      containers:
      - name: {{ .Values.nginx_service.image.repository }}
        image: "{{ .Values.nginx_service.image.repository }}:{{ .Values.nginx_service.image.tag }}"
        imagePullPolicy: {{ .Values.pullPolicy }}
        ports:
        - containerPort: {{ .Values.nginx_service.service.port }}
        - containerPort: 443
        volumeMounts:
        - name: nginx-config
          mountPath: /etc/nginx/nginx.conf
          subPath: nginx.conf
          readOnly: true
      volumes:
      - name: nginx-config
        configMap:
          name: nginx-config
---
apiVersion: v1
kind: Service
metadata:
  name: nginx
  labels:
    app: nginx
spec:
  type: NodePort   # Makes it accessible from your host
  ports:
  - name: http
    port: {{ .Values.nginx_service.service.port }}
    targetPort: {{ .Values.nginx_service.service.port }}
    nodePort: 30080  # consistent access point: http://$(minikube ip):30080
  - name: https
    port: 443
    targetPort: 443
    nodePort: 30443
  selector:
    app: nginx
